@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h2 class="display-12">Use the Navbar to being navigating the shop. </h2>
    <h2 class="display-12">Click the "MusicShop" button in the top left to return here.</h2>
</div>
