@{
    string cardNumber = (string)ViewData["CardNumber"];
    string address = (string)ViewData["Address"];
    string phoneNumber = (string)ViewData["PhoneNumber"];
    string email = (string)ViewData["Email"];
}

<div class="text-center">
    <h1 class="display-4">Receipt</h1>
    <h1 class="display-4">Thank you for your purchase!</h1>
</div>